pre, code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
ol > li {
    font-weight: bold;
}
ol > li > ul > li, code{
    font-weight: normal;
}
body {
    max-width: 1024px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
img {
    float:right;
    width: 25%;
}
